# Ignore .env file that contains API keys
.env
caramel-feat-435914-k2-5dbf71e4613e.json
*.json
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore logs and database files
*.log
*.sqlite3

# Ignore VS Code settings
.vscode/
